target/
.idea/
.git/
.svn/
src/main/webapp/WEB-INF/classes/
NetworkServiceSystem.iml
NetworkServiceSystem.ipr
NetworkServiceSystem.iws
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.class

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar