.search {
    width: 100%;
    height: 82px;
    border-bottom: 1px solid #CCCCCC;
    background: url("../img/home.jpg") no-repeat left 15px;
    background-size: 60px 80px;
    overflow: hidden;
}
.sear {
    font-family: 微软雅黑;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 25px;
}
table th,table td{width: 14.2857142857%;}

.container{padding-top: 40px;}

.header{padding-left: 10%;padding-bottom: 30px;border-bottom: 2px gray solid;}
.lab{float: left;font-size: 24px;line-height: 24px;margin: 5px;}
.sel{float: left; width: 80px;}
.condition{float: left;width: 200px;}
.sub{text-align: center;}

.content{margin-top: 40px;}
.print{padding: 0 5px 0 5px;font-size: 15px;margin-left: 15px;}