.boder01{border: 1px solid gray; position: absolute; top:0px; left:5px;
    border-radius: 5px; width: 95%; height: 84%; position:absolute;top:88px;left:2rem; }
.top_left{width: 26%; height: 80%; margin: 0 auto; position:relative; top:30%;}
.left01{display: inline-block; position:relative; width: 42%; top:100px;float: left; }
span{color: gray;}
.admin01{height: 50px; line-height: 50px;}
.pass01{height: 50px; line-height: 50px;}
.pass02{height: 50px; line-height: 50px;}
.pass03{height: 50px; line-height: 50px;}
.right01{display: inline-block;position: relative; width:58%; top:100px; }
.label01{height: 50px; line-height: 50px;}
.original_password{height: 50px; line-height: 50px;}
.original_password>input{width: 30%; height: 60%; }
.new_password{height: 50px; line-height: 50px;}
.new_password>input{width: 30%; height: 60%;}
.new_password01{height: 50px; line-height: 50px;}
.new_password01>input{width: 30%; height: 60%;}
.blank{height: 10px;}
.divbutton>input{width: 80px; height: 30px; border:0px; font-family: "宋体"; color: #FFF;
    background-color: #007FFF;   position:relative; }
.button11{border-radius: 4px; }
.search {  width: 100%;  height: 82px;  border-bottom: 1px solid #CCCCCC;  background: url("../img/home.jpg") no-repeat left 15px;
    background-size: 60px 80px;  overflow: hidden;  }
.sear {  font-family: 微软雅黑;  margin-top: 25px;  margin-left: 50px;  font-size: 25px;  }
.fun {  width: 200px;  height: 30px;  float: right;  margin-top: -40px;  }

