.containers{width: 1600px;}
.head{width: 1670px;border-bottom: 1px solid black;padding: 20px}
.input1{width: 200px;margin-left: 250px;}
.btn3{margin-left: 50px;margin-top: -55px;margin-left: 500px}
.inf{width: 1670px;margin-left: 100px;}
.box{width: 500px;margin-left: 100px}
.inf h1{margin-left: 150px}
.btn1{margin-top: 10px}
.money{margin-top: 20px;font-size: large;width: 100px}
.cost{color: red;float: right}
clear{clear: both}