<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<!-- *********可以扫描controller、service,这里就指定controller*************-->
	<context:component-scan base-package="com.uic.controller"></context:component-scan>
	
		
	<!--**************************注解映射适配器驱动*************************** -->
	 <mvc:annotation-driven></mvc:annotation-driven> 
	

	<!-- ****视图解析器解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包*****-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <!-- 配置jsp路径的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!-- //配置jsp路径的后缀 -->
		<property name="suffix" value=".jsp"/> 
	</bean>

	<!-- *******************************文件上传************************************ -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
	</bean>


	<!--<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.uic.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<bean class="com.uic.interceptor.AdminInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/worker/**"/>
			<bean class="com.uic.interceptor.WorkerInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/student/**"/>
			<bean class="com.uic.interceptor.StudentInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>-->
</beans>